* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Clash Display', sans-serif;
  background-color: white;
}

.main-heading {
  color: white;
  background-color: #0085FE;
  padding: 10px;
  text-align: center;
}

.redactr-description {
  margin: 20px 0;
  padding: 15px;
  border-left: 5px solid yellow;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 30px;
}

.left-side {
  background-color: white;
  padding: 30px;
}

.right-side {
  font-weight: 600;
  background-color: white;
  color: black;
  padding: 30px;
}

.show-result{
  display: block;
  font-weight: 400;
  padding: 10px;
  background-color: whitesmoke;
}

.heading {
  font-weight: 500;
  color: black;
}

.divider {
  margin: 10px 0;
  border-top: 2px solid #E8E8E8;
}

.form-area {
  padding-top: 2px;
}


form .txt_field {
  position: relative;
  margin: 2.6rem 0;
}

#text-area {
  width: 100%;
  border: 2px solid #E8E8E8;
  padding: 10px;
}

#text-area::placeholder {
  font-size: 18px;
font-family: 'Clash Display', sans-serif;
}

.txt_field textarea {
  font-family: 'Clash Display', sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
}

.txt_field input {
  position: relative;
  width: 100%;
  padding: 10px;
  height: 40px;
  font-size: 14px;
  background-color: #f6f6f6;
  border: 2px solid #E8E8E8;
  outline: none;
  font-family: 'Clash Display', sans-serif;
}

#redacted-words {
  padding-right: 70px;
}

.txt_field label {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 50%;
  left: 0px;
  transform: translateY(-200%);
  pointer-events: none;
  transition: .5s;
}

#reset-btn {
  color: #0085FE;
  font-weight: 500;
  font-size: 19px;
  position: absolute;
  right: 10px;
  text-decoration: none;
}

.redact-symbol {
  margin: 0;
}

.redact-text label {
  top: 10%;
  transform: translateY(-200%);
}

.redacted-text {
  display: flex;
  align-items: center;
}

::placeholder {
  font-family: 'Clash Display', sans-serif;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn {
  background-color: #0085FE;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  display: block;
  border: none;
  font-family: 'Clash Display', sans-serif;
}

#clear-btn {
  background: black;
}

.redacted-details {
  border: 2px dashed #E8E8E8;
  border-left: 0;
  border-right: 0;
  display: flex;
  padding: 30px 0;
  gap: 15px;
  margin: 20px 0;
}

.redacted-details img {
  width: 32px;
  opacity: 50%;
}

.redact-heading {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom:15px;
}

.details {
  font-weight: 700;
  color: #0085FE;
  font-size: 22px;
}

.detailed {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: #F0F8FF;
  padding: 10px;
  width: 100%;
}

  .details-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
  }

.output{
  margin-bottom:20px;
}

.show-result {
    height: 200px;
  background-color: #f6f6f6;
  outline: 2px solid #E8E8E8;
  }

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .main-content {
    width: 100vw;
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  .main-heading{
    font-size: 0.75rem;
    padding: 10px;
  }

  .heading {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .redactr-description {
    padding: 0px;
    padding-left: 10px;
    margin: 5px 0;
  }

  .divider {
  display: none;
}

  .left-side, .right-side {
  padding: 15px 30px 0 30px;
}

  #text-area {
  height: 100px;
}
  
  .txt_field label{
    display: none;
  }
  
  form .txt_field {
  position: relative;
  margin: 1.2rem 0;
}

  .output {
    margin-bottom: 15px
  }
  
  .show-result {
    height: 100px;
  }
}